*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color:black;
    overflow: hidden;
}

header .mobile{
    display: none;
    visibility: hidden;
}

/* CABEÇALHO */

header{
    max-width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 8px #f9c003;
}

.logo-nome{
    height: 100%;
    padding: 10px;
}

/* MENU DESKTOP */

.desktop{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.menu-desktop ul{
    display: flex;
}

.menu-desktop ul li{
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

.menu-desktop ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #ffffffaa;
    transition: .2s;
}

.menu-desktop ul li a:hover{
    transform: scale(1.1);
    font-weight: 600;
    color: #fff;
}

/* REDES SOCIAIS */

.desktop .logos{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.desktop .logo{
    color: #f9c003;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.desktop .logo:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px #f9c003;
}

.desktop .logos .logo-linkedin{
    color: #f9c003;
    font-size: 30px;
    border-radius: 0;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.desktop .logos .logo-linkedin:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px #f9c003;
}

/* SESSÃO HOME */

.home{
    width: 100vw;
    height: 69%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* LADO ESQUERDO */

.home .lado-esquerdo{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}

.home .lado-esquerdo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* FLUTUAR IMAGEM */

@keyframes flutuar {
    0%{
        top: 0;
    }

    100%{
        top: 28px;
    }
}

.home .lado-esquerdo h2{
    color: #fff;
    font-size: 35px;
}

.home .lado-esquerdo h2 span{
    color: #f9c003;
    text-transform: uppercase;
}

.home .lado-esquerdo p{
    color: #ffffffaa;
    font-size: 18px;
}

/* LADO DIREITO */

.home .lado-direito{
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .lado-direito h2{
    color: #fff;
    font-size: 35px;
}

.home .lado-direito h2 span{
    color: #f9c003;
    text-transform: uppercase;
}

.home .lado-direito p{
    color: #ffffffaa;
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}

.gif{
    width: 100px;
    left: -120px;
    position: relative;
    animation: car 15s ease-in-out infinite;
}

.gif-right{
    width: 100px;
    left: -120px;
    position: relative;
    animation: car-right 15s ease-in-out infinite;
}

@keyframes car {
    0%{
        transform: translate(-2000px) 
        
    }

    100%{
        transform: translate(2000px);
    }
}

@keyframes car-right {
    0%{
        transform: translate(2000px);
        
    }

    100%{
        transform: translate(-70px) 
    }
}
/* FOOTER */

.rodape{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 8px #f9c003;
}

.rodape img{
    height: 80%;
    padding: 10px;
}

.rodape p{
    color: #fff;
    font-size: 18px;
}

.rodape .logos{
    display: flex;
    gap: 30px;
}

.rodape .logo{
    color: #f9c003;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.rodape .logo:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px #f9c003;
}

.rodape .logos .logo-linkedin{
    color: #f9c003;
    font-size: 30px;
    border-radius: 0;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

.rodape .logos .logo-linkedin:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px #f9c003;
}

@media screen and (max-width:770px) {
    .menu-desktop, .desktop .logos{
        display: none;  
    }

    .logo-github i{
        display: none;
    }

    /* MENU MOBILE */

    .mobile .logo-lista i{
        font-size: 35px;
        color: #fff;
    }

    /* SESSÃO INICIO */

    .home .lado-esquerdo{
        margin-right: 0px;
    }

    /* LADO DIREITO */

    .home .lado-direito{
        width: 80vw;
    }
    
    .home .lado-direito p{
        margin-top: 30px;
    }
    
    @keyframes car {
        0%{
            transform: translate(-70px) 
            
        }
    
        100%{
            transform: translate(880px);
        }
    }
    

    /* FOOTER */

    .rodape{
        flex-direction: column;        
    }

    .rodape .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border-top: 2px solid #fff;
        margin: 20px auto;
        padding-top: 20px;
    }
}